<%= form_for [:admin, product] do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation red-text">
      <h4><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h4>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= form.label :name %>
    <%= form.text_field :name, id: :product_name %>
  </div>

  <div class="input-field col s12">
    <%= form.label "Description" %>
    <%= form.text_field :desc, id: :product_desc %>
  </div>

  <div class="input-field col s12">

    <%= form.collection_select(:category_id, Category.all, :id, :name) %>
    <%= form.label :category_id %>
  </div>

  <div class="input-field col s12">
    <%= form.label :price %>
    <%= form.text_field :price, id: :product_price %>
  </div>

  <div class="input-field col s12">
    <%= form.collection_select(:currency_id, Currency.all, :id, :name) %>
    <%= form.label :currency_id %>
  </div>

  <div class="input-field col s12">
    <%= form.collection_select(:supplier_id, Supplier.all, :id, :name) %>
    <%= form.label :supplier_id %>
  </div>

  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn" %>
  </div>
<% end %>

