<p id="notice"><%= notice %></p>

<h1>Products</h1>

<table class="striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Desc</th>
      <th>Category</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Supplier</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.desc %></td>
        <td><%= product.category_name %></td>
        <td><%= product.price %></td>
        <td><%= product.currency_name %></td>
        <td><%= product.supplier_name %></td>
        <td><%= link_to 'Edit', edit_admin_product_path(product), class: "waves-effect waves-light btn" %></td>
        <td><%= link_to 'Destroy', [:admin, product], method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_admin_product_path, class: "waves-effect waves-light btn" %>
