<%= form_for [:admin, supplier] do |form| %>
  <% if supplier.errors.any? %>
    <div id="error_explanation red-text">
      <h4><%= pluralize(supplier.errors.count, "error") %> prohibited this supplier from being saved:</h4>

      <ul>
      <% supplier.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12">
    <%= form.label :name %>
    <%= form.text_field :name, id: :supplier_name %>
  </div>

  <div class="actions">
    <%= form.submit class: "waves-effect waves-light btn" %>
  </div>
<% end %>
